<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypc.logtest.logback.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.ypc.logtest.logback.model.Member">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="team_id" jdbcType="INTEGER" property="teamId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="captain" jdbcType="BIT" property="captain" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="update_time" jdbcType="DATE" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, team_id, user_id, order_id, captain, create_time, update_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_member
        (captain, create_time, order_id, team_id, update_time, user_id)
        values
        (#{captain,jdbcType=BIT},#{createTime,jdbcType=DATE},#{orderId,jdbcType=VARCHAR},#{teamId,jdbcType=INTEGER}
         #{updateTime,jdbcType=DATE},#{userId,jdbcType=VARCHAR})
    </insert>

    <select id="queryMembersByTeamId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_member
        where team_id = #{teamId}
    </select>


</mapper>